@font-face {
    font-family: 'Blood Crow';
    src: url('../fonts/Blood Crow/BloodCrow.ttf') format('truetype');
}

body {
    background-image: url('C:/Users/theso/OneDrive/Desktop/FOTF_DayZ_Website/images/test.png');
    background-size: cover;
    background-position: center;
    font-family: 'Blood Crow', sans-serif;
    color: #fff;
    padding-top: 60px;
    background-attachment: fixed;
}

.center-text {
    text-align: center;
}

.center-discordlogo {
    display: block;
    margin: 0 auto;
    width: 10%;
}

.Discord {
    text-align: center;
    margin-top: 20px;
}

.discord-button {
    font-size: 24px;
    padding: 15px 30px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.discord-button:hover {
    background-color: rgb(201, 171, 0);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.battle-metrics-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 20px auto;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgb(132, 0, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
}

.slideshow-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.audio-player {
    text-align: center;
    margin: 60px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.navbar button {
    background-color: rgb(132, 0, 255);
    color: #fff;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(132, 0, 255), rgb(201, 171, 0)) 1;
    padding: 15px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar button:hover {
    background-color: rgb(201, 171, 0);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.content {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 48px;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    animation: glow 1.5s infinite alternate;
}

h3, h4, h5, h6 {
    font-family: 'Arial Black', sans-serif;
    font-size: 32px;
    color: rgb(132, 0, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 3px #fff;
    animation: glow 1.5s infinite alternate;
}

p, .additional-info p {
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-family: 'Blood Crow', sans-serif;
    margin: 15px 0;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.additional-info {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid rgb(132, 0, 255);
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(201, 171, 0);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes glow {
    from { text-shadow: 0 0 5px rgb(201, 171, 0), 0 0 30px rgb(201, 171, 0), 0 0 40px rgb(201, 171, 0); }
    to { text-shadow: 0 0 20px rgb(201, 171, 0), 0 0 30px rgb(201, 171, 0), 0 0 40px rgb(201, 171, 0); }
}

@keyframes pulseGlow {
    from {
        box-shadow: 0 0 10px rgba(132, 0, 255, 0.5), 0 0 20px rgba(132, 0, 255, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(132, 0, 255, 1), 0 0 40px rgba(132, 0, 255, 1);
    }
}